# HVDC control

We implement a simplified, lossless controller to represent an HVDC system.

The controller implements active power flow control depending on the difference of the voltage angles at the "to" and "from" buses. The converter stations are represented internally as PQ nodes. The user can provide a linear or spline characteristic for the dependency of the active power and the voltage angle difference.

In [1]:
import pandapower as pp
import pandapower.control
import pandapower.plotting

In [2]:
net = pp.create_empty_network()
pp.create_buses(net, 2, 110)
pp.create_ext_grid(net, 0)
pp.create_load(net, 1, 200)
pp.create_line(net, 0, 1, 15, "243-AL1/39-ST1A 110.0");

In [3]:
pp.runpp(net)
net.res_bus

      vm_pu  va_degree        p_mw     q_mvar
0  1.000000   0.000000 -206.332009 -20.291595
1  0.964541  -5.755605  200.000000   0.000000

In [4]:
pp.control.HVDC_Controller(net, 0, 1, (-10, 0, 10), (-100, 0, 100))

This HVDC_Controller has the following parameters:

index:             0
json_excludes:     ['self', '__class__']

In [5]:
pp.runpp(net, run_control=True)
net.res_bus

      vm_pu  va_degree        p_mw     q_mvar
0  1.000000   0.000000 -159.412060 -11.857212
1  0.973582  -4.435112  155.647924   0.000000

In [6]:
net.controller

,object,in_service,order,level,initial_run,recycle
0,"HVDC at buses [0, 1] ([-44.351 44.351] MW)",True,0.0,0,True,False

In [7]:
net.load.p_mw = -200
pp.runpp(net)
net.res_bus

      vm_pu  va_degree        p_mw     q_mvar
0  1.000000   0.000000  236.038440 -26.761075
1  1.028502   6.593472 -244.351116   0.000000

In [8]:
pp.runpp(net, run_control=True)
net.res_bus

      vm_pu  va_degree        p_mw     q_mvar
0  1.000000   0.000000  153.771485 -10.969352
1  1.020054   4.272681 -157.272407   0.000000

In [9]:
net.controller

,object,in_service,order,level,initial_run,recycle
0,"HVDC at buses [0, 1] ([ 42.727 -42.727] MW)",True,0.0,0,True,False